body {
	margin: 0;
	padding: 0;
	font-family: monospace;
	color: white;
	background-color: #242424;
	line-height: 1.5;

	.container {
		width: 800px;
		margin: auto;
		display: flex;
		flex-direction: column;
		justify-content: center;
		gap: 2rem;

		@media (max-width: 768px) {
			width: 90%;
		}

		pre {
			background-color: #353535;
			padding: 1rem;
		}

		p {
			opacity: 0.75;
		}

		a {
			color: white;
			opacity: 1;
		}
	}

	.footer {
		text-align: center;
	}
}
